<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<!-- SQL Server Connection -->
		<add key="ConnectionString"
			 value="Server=.;Database=DVLD_DB;Integrated Security=True;" />


		<!-- Backup Folder -->
		<add key="BackupFolder"
			 value="C:\DatabaseBackups" />


		<!-- Log Folder -->
		<add key="LogFolder"
			 value="C:\DatabaseBackups\Logs" />


		<!-- Backup Interval (Minutes) -->
		<add key="BackupIntervalMinutes" 
			 value="0.09"/>
		<!-- DataBase Name -->
		<add key="DataBaseName"
			 value="DVLD_DB" />

	</appSettings>


</configuration>